#objectThrown {
    animation: throw 2s ease infinite alternate;
  }
  
#Arm {
    animation: throwFromHand 2s ease infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}

#GarbageTop {
    animation: lift 2s ease infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}

  @keyframes throw {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(10px, -10px);
    }
    100% {
      transform: translate(30px, 0);
    }
  }
  
 
  
  @keyframes lift {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: rotateZ(30deg);
    }
    100% {
      transform: translate(10px, -10px);
    }
  }
  
  
  @keyframes throwFromHand {
    0% {
      transform: rotateZ(0deg);
    }
    50% {
      transform: rotateZ(-30deg);
    }
    100% {
      transform: rotateZ(0deg);
    }
  }
  